USE [master]
GO
/****** Object:  Database [AlBaharTaskManagement]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE DATABASE [AlBaharTaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlBaharTaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\AlBaharTaskManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlBaharTaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\AlBaharTaskManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlBaharTaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlBaharTaskManagement]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[VacancyID] [int] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[IsCurrent] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[AssignedByUserID] [nvarchar](50) NULL,
	[RankAtAssignment] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[VacancyNameSnapshot] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ParentDepartmentID] [int] NULL,
	[IsActive] [bit] NULL,
	[Type] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobVacancies]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobVacancies](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Type] [nvarchar](100) NULL,
	[Rank] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[DelegationPasswordHash] [nvarchar](256) NULL,
	[LegacyUserID] [nvarchar](100) NULL,
	[ServiceID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserCurrentProfile]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. إنشاء الـ View (يجب أن يكون في بداية Batch بعد GO)
CREATE VIEW [dbo].[vw_UserCurrentProfile]
AS
SELECT 
    U.UserID,
    U.FullName,
    U.IsAdmin,
    U.IsActive AS IsUserActive,
    V.VacancyID,
    V.Name AS VacancyName,
    V.Type AS VacancyType,
    D.DepartmentID,
    D.Name AS DepartmentName,
    A.AssignmentID,
    A.StartDate AS AssignmentStartDate
FROM 
    dbo.Users U
LEFT JOIN 
    dbo.Assignments A ON U.UserID = A.UserID AND A.IsCurrent = 1
LEFT JOIN 
    dbo.JobVacancies V ON A.VacancyID = V.VacancyID
LEFT JOIN 
    dbo.Departments D ON V.DepartmentID = D.DepartmentID
WHERE 
    U.IsActive = 1;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[DepartmentID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryInformation]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryInformation](
	[InfoID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[OrderIndex] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentNotifications]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentNotifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ReadAt] [datetime] NULL,
	[CommentedByVacancyID] [int] NULL,
	[NotifyVacancyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CommentedByVacancyID] [int] NOT NULL,
	[LastActedByVacancyID] [int] NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MigrationsLog]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationsLog](
	[MigrationName] [nvarchar](200) NOT NULL,
	[ExecutedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MigrationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalCalendarEvents]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalCalendarEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](400) NOT NULL,
	[EventDate] [date] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalEvents]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[ProcedureID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedBy] [int] NULL,
	[DepartmentID] [int] NULL,
	[IsPublic] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcedureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcedureSubtasks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureSubtasks](
	[ProcedureSubtaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[DueDateOffset] [int] NOT NULL,
	[VacancyID] [int] NULL,
	[AssignmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcedureSubtaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Level] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationRequests]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[VacancyID] [int] NULL,
	[VacancyName] [nvarchar](200) NULL,
	[PersonRank] [int] NULL,
	[RequestedVacancyRank] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[Rank] [int] NULL,
	[VacancyRank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtasks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtasks](
	[SubtaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[DueDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[ShowInCalendar] [bit] NOT NULL,
	[CreatedByVacancyID] [int] NULL,
	[AssignedToVacancyID] [int] NULL,
	[LastActedByVacancyID] [int] NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubtaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAssignmentNotifications]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignmentNotifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ReadAt] [datetime] NULL,
	[AssignedToVacancyID] [int] NULL,
	[AssignedByVacancyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDelegationPermissions]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDelegationPermissions](
	[DelegationPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[DelegationID] [int] NOT NULL,
	[PermissionType] [nvarchar](100) NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_TaskDelegationPermissions] PRIMARY KEY CLUSTERED 
(
	[DelegationPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDelegations]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDelegations](
	[DelegationID] [int] IDENTITY(1,1) NOT NULL,
	[DelegationType] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DelegationSecretHash] [nvarchar](256) NULL,
	[DelegatorVacancyID] [int] NULL,
	[DelegateVacancyID] [int] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_TaskDelegations] PRIMARY KEY CLUSTERED 
(
	[DelegationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DepartmentID] [int] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CategoryID] [int] NULL,
	[URL] [nvarchar](1000) NULL,
	[CreatedByVacancyID] [int] NOT NULL,
	[LastActedByVacancyID] [int] NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskViews]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskViews](
	[ViewID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[LastViewedAt] [datetime] NOT NULL,
	[ViewedByVacancyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Legacy_CreatedBy_UserID] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NULL,
	[CreatedByVacancyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRanks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRanks](
	[UserID] [nvarchar](50) NOT NULL,
	[RankID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRanks] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTaskPriorities]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTaskPriorities](
	[TaskID] [int] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[VacancyID] [int] NOT NULL,
 CONSTRAINT [PK_UserTaskPriorities] PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancyRanks]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancyRanks](
	[VacancyID] [int] NOT NULL,
	[RankID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VacancyRanks] PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancySecrets]    Script Date: 3/10/2026 10:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancySecrets](
	[VacancyID] [int] NOT NULL,
	[DelegationPasswordHash] [nvarchar](256) NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentID], [VacancyID], [UserID], [IsCurrent], [StartDate], [AssignedByUserID], [RankAtAssignment], [Notes], [VacancyNameSnapshot], [CreatedAt], [UpdatedAt], [EndDate]) VALUES (54, 13, N'9', 0, CAST(N'2025-11-25T22:20:18.967' AS DateTime), N'1', 11, NULL, N'ركن 3 وصف وظيفي', CAST(N'2025-11-25T22:20:18.967' AS DateTime), NULL, NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [VacancyID], [UserID], [IsCurrent], [StartDate], [AssignedByUserID], [RankAtAssignment], [Notes], [VacancyNameSnapshot], [CreatedAt], [UpdatedAt], [EndDate]) VALUES (55, 18, N'7', 0, CAST(N'2025-11-25T22:20:36.620' AS DateTime), N'1', 9, NULL, N'كاتب', CAST(N'2025-11-25T22:20:36.620' AS DateTime), NULL, NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [VacancyID], [UserID], [IsCurrent], [StartDate], [AssignedByUserID], [RankAtAssignment], [Notes], [VacancyNameSnapshot], [CreatedAt], [UpdatedAt], [EndDate]) VALUES (56, 19, N'11', 0, CAST(N'2025-11-25T22:20:44.033' AS DateTime), N'1', 11, NULL, N'ركن 3 انظمة الموارد البشرية', CAST(N'2025-11-25T22:20:44.033' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive], [CreatedBy]) VALUES (1, N'انتداب (تمديد)', N' ', 4, CAST(N'2025-09-24T21:46:26.647' AS DateTime), CAST(N'2025-09-24T22:27:03.050' AS DateTime), 1, 6)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive], [CreatedBy]) VALUES (2, N'بدون تصنيف', N'بدون وصف', 4, CAST(N'2025-09-24T21:46:26.647' AS DateTime), CAST(N'2025-09-24T22:26:06.800' AS DateTime), 1, 6)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive], [CreatedBy]) VALUES (3, N'تجنيد', N' ', 4, CAST(N'2025-09-24T21:46:26.647' AS DateTime), CAST(N'2025-09-24T22:27:48.407' AS DateTime), 1, 6)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryInformation] ON 

INSERT [dbo].[CategoryInformation] ([InfoID], [CategoryID], [Title], [Content], [OrderIndex], [CreatedBy], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (6, 5, N'', N'باقة البحرية تتضمن 250 اختبار سنوي', 0, NULL, CAST(N'2025-09-25T08:58:49.643' AS DateTime), CAST(N'2025-09-25T08:58:49.643' AS DateTime), 1)
INSERT [dbo].[CategoryInformation] ([InfoID], [CategoryID], [Title], [Content], [OrderIndex], [CreatedBy], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (7, 7, N'', N'الالحاق لمدة سنة والتمديد ستة اشهر', 0, NULL, CAST(N'2025-09-25T09:28:22.463' AS DateTime), CAST(N'2025-09-25T09:28:22.463' AS DateTime), 1)
INSERT [dbo].[CategoryInformation] ([InfoID], [CategoryID], [Title], [Content], [OrderIndex], [CreatedBy], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (8, 6, N'', N'الانتداب ثلاث سنوات والتمديد سنة واحدة', 0, NULL, CAST(N'2025-09-25T09:28:53.747' AS DateTime), CAST(N'2025-09-25T09:28:53.747' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CategoryInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentNotifications] ON 

INSERT [dbo].[CommentNotifications] ([NotificationID], [CommentID], [TaskID], [NotificationType], [IsRead], [CreatedAt], [ReadAt], [CommentedByVacancyID], [NotifyVacancyID]) VALUES (1, 115, 114, N'task_creator', 1, CAST(N'2025-09-24T18:56:48.540' AS DateTime), CAST(N'2025-09-28T08:34:47.000' AS DateTime), 6, 4)
INSERT [dbo].[CommentNotifications] ([NotificationID], [CommentID], [TaskID], [NotificationType], [IsRead], [CreatedAt], [ReadAt], [CommentedByVacancyID], [NotifyVacancyID]) VALUES (2, 6, 5, N'task_creator', 1, CAST(N'2025-08-28T12:21:31.553' AS DateTime), CAST(N'2025-09-25T08:57:40.413' AS DateTime), 5, 6)
INSERT [dbo].[CommentNotifications] ([NotificationID], [CommentID], [TaskID], [NotificationType], [IsRead], [CreatedAt], [ReadAt], [CommentedByVacancyID], [NotifyVacancyID]) VALUES (3, 12, 53, N'task_creator', 1, CAST(N'2025-08-31T12:17:34.380' AS DateTime), CAST(N'2025-09-25T08:57:40.413' AS DateTime), 4, 6)
GO
SET IDENTITY_INSERT [dbo].[CommentNotifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [TaskID], [Content], [CreatedAt], [CommentedByVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (1, 6, N'حسب التواصل مع مدير السياسات المالية بوزارة الدفاع العقيد مرهون العويسي (300157) يمكن دمج اعداد المجندين للرتب الاخرى للسنتين في اعلان واحد.', CAST(N'2025-08-27T20:21:37.967' AS DateTime), 6, NULL, NULL)
INSERT [dbo].[Comments] ([CommentID], [TaskID], [Content], [CreatedAt], [CommentedByVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (2, 6, N'تقدم رئيس المكتب الهيدروغرافي بطلب تجنيد 6 حملة دبلوم الكلية العسكرية التقنية في الاعلان القادم', CAST(N'2025-08-27T21:03:37.507' AS DateTime), 6, 6, NULL)
INSERT [dbo].[Comments] ([CommentID], [TaskID], [Content], [CreatedAt], [CommentedByVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (3, 27, N'المرحلة الاولي تشمل الهيكل الاصغر والمرحلة الثانية الهيكل الاكبر', CAST(N'2025-08-27T21:12:47.803' AS DateTime), 6, 6, NULL)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [Name], [CreatedAt], [ParentDepartmentID], [IsActive], [Type]) VALUES (1, N'إدارة نظام بحار', CAST(N'2025-08-27T10:04:27.780' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Departments] ([DepartmentID], [Name], [CreatedAt], [ParentDepartmentID], [IsActive], [Type]) VALUES (4, N'مديرية الموارد البشرية', CAST(N'2025-08-27T00:00:00.000' AS DateTime), 5, 1, N'1')
INSERT [dbo].[Departments] ([DepartmentID], [Name], [CreatedAt], [ParentDepartmentID], [IsActive], [Type]) VALUES (5, N'المديرية العامة للادارة والموارد البشرية', CAST(N'2025-11-20T22:37:36.750' AS DateTime), 7, 1, N'مديرية عامة')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[JobVacancies] ON 

INSERT [dbo].[JobVacancies] ([VacancyID], [DepartmentID], [Name], [IsActive], [Type], [Rank], [Notes], [CreatedAt]) VALUES (1, 1, N' مدير النظام', 1, NULL, 42, NULL, CAST(N'2025-11-23T22:13:37.790' AS DateTime))
INSERT [dbo].[JobVacancies] ([VacancyID], [DepartmentID], [Name], [IsActive], [Type], [Rank], [Notes], [CreatedAt]) VALUES (2, 9, N'ركن 2 تجنيد', 1, NULL, 6, NULL, CAST(N'2025-11-20T23:16:42.480' AS DateTime))
INSERT [dbo].[JobVacancies] ([VacancyID], [DepartmentID], [Name], [IsActive], [Type], [Rank], [Notes], [CreatedAt]) VALUES (3, 8, N'ركن 2 انظمة الموارد البشرية', 1, NULL, 6, NULL, CAST(N'2025-11-20T23:12:52.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobVacancies] OFF
GO
INSERT [dbo].[MigrationsLog] ([MigrationName], [ExecutedAt]) VALUES (N'baharUpdate-data-transfer-v1', CAST(N'2026-02-08T18:56:00.647' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Procedures] ON 

INSERT [dbo].[Procedures] ([ProcedureID], [Title], [CreatedBy], [DepartmentID], [IsPublic]) VALUES (1, N'اعتماد مقترح هيكل تنظيمي جديد', 6, 4, 1)
INSERT [dbo].[Procedures] ([ProcedureID], [Title], [CreatedBy], [DepartmentID], [IsPublic]) VALUES (2, N'مهمة مرفوعة للاعتماد', 6, 4, 1)
INSERT [dbo].[Procedures] ([ProcedureID], [Title], [CreatedBy], [DepartmentID], [IsPublic]) VALUES (4, N'قوائم المفاضلة للمنتدبين لقطر والبحرين والسعودية', 6, 4, 1)
SET IDENTITY_INSERT [dbo].[Procedures] OFF
GO
SET IDENTITY_INSERT [dbo].[ProcedureSubtasks] ON 

INSERT [dbo].[ProcedureSubtasks] ([ProcedureSubtaskID], [ProcedureID], [Title], [DueDateOffset], [VacancyID], [AssignmentID]) VALUES (11, 2, N'رفع الموضوع للاعتماد عن طريق المدير العام', 0, 6, NULL)
INSERT [dbo].[ProcedureSubtasks] ([ProcedureSubtaskID], [ProcedureID], [Title], [DueDateOffset], [VacancyID], [AssignmentID]) VALUES (12, 2, N'انتظار رد المدير العام', 0, 6, NULL)
INSERT [dbo].[ProcedureSubtasks] ([ProcedureSubtaskID], [ProcedureID], [Title], [DueDateOffset], [VacancyID], [AssignmentID]) VALUES (13, 1, N'التأكد أن الهيكل تم مناقشته على مستوى القيادات العليا بالقسم', 0, 6, NULL)
SET IDENTITY_INSERT [dbo].[ProcedureSubtasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([RankID], [Name], [Type], [Level], [CreatedAt]) VALUES (2, N'فريق', N'1', 0, CAST(N'2025-11-23T11:57:05.190' AS DateTime))
INSERT [dbo].[Ranks] ([RankID], [Name], [Type], [Level], [CreatedAt]) VALUES (3, N'لواء', N'1', 1, CAST(N'2025-11-23T11:57:05.190' AS DateTime))
INSERT [dbo].[Ranks] ([RankID], [Name], [Type], [Level], [CreatedAt]) VALUES (4, N'عميد أول', N'1', 2, CAST(N'2025-11-23T11:57:05.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ranks] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationRequests] ON 

INSERT [dbo].[RegistrationRequests] ([RequestID], [UserID], [PasswordHash], [FullName], [DepartmentID], [RequestDate], [Status], [VacancyID], [VacancyName], [PersonRank], [RequestedVacancyRank], [Notes], [Rank], [VacancyRank]) VALUES (1, N'D3-1161', N'D3-1161', N'أمل سعيد الجردانية', 4, CAST(N'2025-08-27T12:35:10.817' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RegistrationRequests] ([RequestID], [UserID], [PasswordHash], [FullName], [DepartmentID], [RequestDate], [Status], [VacancyID], [VacancyName], [PersonRank], [RequestedVacancyRank], [Notes], [Rank], [VacancyRank]) VALUES (2, N'D3-3761', N'D3-3761', N'مها محمد الزدجالية', 4, CAST(N'2025-08-27T12:35:45.840' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RegistrationRequests] ([RequestID], [UserID], [PasswordHash], [FullName], [DepartmentID], [RequestDate], [Status], [VacancyID], [VacancyName], [PersonRank], [RequestedVacancyRank], [Notes], [Rank], [VacancyRank]) VALUES (3, N'D1-4701', N'D1-4701', N' حسن سعيد البلوشي', 4, CAST(N'2025-08-27T12:39:31.040' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RegistrationRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Subtasks] ON 

INSERT [dbo].[Subtasks] ([SubtaskID], [TaskID], [Title], [IsCompleted], [DueDate], [CreatedAt], [ShowInCalendar], [CreatedByVacancyID], [AssignedToVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (1, 3, N'مراجعة القوائم قبل رفعها للاعتماد', 0, CAST(N'2025-08-27T00:00:00.000' AS DateTime), CAST(N'2025-08-27T00:00:00.000' AS DateTime), 0, 6, 10, NULL, NULL)
INSERT [dbo].[Subtasks] ([SubtaskID], [TaskID], [Title], [IsCompleted], [DueDate], [CreatedAt], [ShowInCalendar], [CreatedByVacancyID], [AssignedToVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (2, 4, N'مراجعة مسودة الخطة استعداد للمناقشة', 1, CAST(N'2025-08-27T00:00:00.000' AS DateTime), CAST(N'2025-08-27T00:00:00.000' AS DateTime), 0, 6, 5, NULL, NULL)
INSERT [dbo].[Subtasks] ([SubtaskID], [TaskID], [Title], [IsCompleted], [DueDate], [CreatedAt], [ShowInCalendar], [CreatedByVacancyID], [AssignedToVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (3, 4, N'تحديد موعد لمناقشة المناصب مع شؤون الضباط', 1, CAST(N'2025-08-27T00:00:00.000' AS DateTime), CAST(N'2025-08-27T00:00:00.000' AS DateTime), 0, 6, 6, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Subtasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskAssignmentNotifications] ON 

INSERT [dbo].[TaskAssignmentNotifications] ([NotificationID], [TaskID], [IsRead], [CreatedAt], [ReadAt], [AssignedToVacancyID], [AssignedByVacancyID]) VALUES (2, 6, 1, CAST(N'2025-09-17T19:34:31.203' AS DateTime), CAST(N'2025-09-23T23:26:52.387' AS DateTime), 5, 6)
INSERT [dbo].[TaskAssignmentNotifications] ([NotificationID], [TaskID], [IsRead], [CreatedAt], [ReadAt], [AssignedToVacancyID], [AssignedByVacancyID]) VALUES (3, 6, 1, CAST(N'2025-09-17T19:35:58.867' AS DateTime), CAST(N'2025-09-23T23:26:49.100' AS DateTime), 5, 6)
INSERT [dbo].[TaskAssignmentNotifications] ([NotificationID], [TaskID], [IsRead], [CreatedAt], [ReadAt], [AssignedToVacancyID], [AssignedByVacancyID]) VALUES (4, 27, 1, CAST(N'2025-09-17T19:47:40.680' AS DateTime), CAST(N'2025-09-23T22:37:27.480' AS DateTime), 6, 5)
GO
SET IDENTITY_INSERT [dbo].[TaskAssignmentNotifications] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskDelegations] ON 

INSERT [dbo].[TaskDelegations] ([DelegationID], [DelegationType], [StartDate], [EndDate], [IsActive], [Reason], [CreatedAt], [UpdatedAt], [DelegationSecretHash], [DelegatorVacancyID], [DelegateVacancyID], [CreatedBy]) VALUES (2, N'full', CAST(N'2025-11-25T04:00:00.000' AS DateTime), CAST(N'2025-12-20T04:00:00.000' AS DateTime), 1, NULL, CAST(N'2025-11-25T08:15:17.080' AS DateTime), NULL, NULL, 6, 8, 6)
SET IDENTITY_INSERT [dbo].[TaskDelegations] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [DepartmentID], [Priority], [Status], [DueDate], [CreatedAt], [UpdatedAt], [CategoryID], [URL], [CreatedByVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (3, N'قوائم المفاضلة لقطر ', N'', 4, N'normal', N'open', CAST(N'2025-08-27T00:00:00.000' AS DateTime), CAST(N'2025-08-27T12:54:03.207' AS DateTime), CAST(N'2025-09-25T10:43:35.707' AS DateTime), 18, NULL, 6, 6, NULL)
INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [DepartmentID], [Priority], [Status], [DueDate], [CreatedAt], [UpdatedAt], [CategoryID], [URL], [CreatedByVacancyID], [LastActedByVacancyID], [ActedBy]) VALUES (5, N'منصب مقدم لمشروع الأمن البحري المرحلة الثانية', N'', 4, N'normal', N'completed', CAST(N'2025-08-27T00:00:00.000' AS DateTime), CAST(N'2025-08-27T20:12:58.153' AS DateTime), CAST(N'2025-09-25T10:42:45.437' AS DateTime), 11, NULL, 6, 6, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskViews] ON 

INSERT [dbo].[TaskViews] ([ViewID], [TaskID], [LastViewedAt], [ViewedByVacancyID]) VALUES (1, 81, CAST(N'2025-09-25T10:57:02.257' AS DateTime), 6)
INSERT [dbo].[TaskViews] ([ViewID], [TaskID], [LastViewedAt], [ViewedByVacancyID]) VALUES (3, 61, CAST(N'2026-01-04T10:44:52.367' AS DateTime), 6)
INSERT [dbo].[TaskViews] ([ViewID], [TaskID], [LastViewedAt], [ViewedByVacancyID]) VALUES (5, 6, CAST(N'2026-01-11T09:55:45.623' AS DateTime), 6)
GO
SET IDENTITY_INSERT [dbo].[TaskViews] OFF
GO
INSERT [dbo].[UserRanks] ([UserID], [RankID], [CreatedAt]) VALUES (N'1', 43, CAST(N'2025-11-23T20:03:42.400' AS DateTime))
INSERT [dbo].[UserRanks] ([UserID], [RankID], [CreatedAt]) VALUES (N'10', 8, CAST(N'2025-11-23T20:05:00.693' AS DateTime))
INSERT [dbo].[UserRanks] ([UserID], [RankID], [CreatedAt]) VALUES (N'11', 15, CAST(N'2025-11-23T20:05:09.410' AS DateTime))
GO
INSERT [dbo].[Users] ([UserID], [PasswordHash], [FullName], [IsAdmin], [IsActive], [CreatedAt], [DelegationPasswordHash], [LegacyUserID], [ServiceID]) VALUES (N'1', N'123456', N'المدير العام', 1, 1, CAST(N'2025-08-27T10:04:27.790' AS DateTime), NULL, N'1', N'admin')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [FullName], [IsAdmin], [IsActive], [CreatedAt], [DelegationPasswordHash], [LegacyUserID], [ServiceID]) VALUES (N'10', N'123456', N'خميس حارب العبيداني', 0, 1, CAST(N'2025-11-23T19:40:51.870' AS DateTime), NULL, N'10', N'D3-579')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [FullName], [IsAdmin], [IsActive], [CreatedAt], [DelegationPasswordHash], [LegacyUserID], [ServiceID]) VALUES (N'11', N'D1-10773', N'علي عبدالله البلوشي', 0, 1, CAST(N'2025-08-27T21:31:13.260' AS DateTime), NULL, N'11', N'D1-10773')
GO
INSERT [dbo].[UserTaskPriorities] ([TaskID], [Priority], [CreatedAt], [UpdatedAt], [VacancyID]) VALUES (51, N'urgent', CAST(N'2025-08-31T11:53:45.570' AS DateTime), CAST(N'2025-08-31T11:53:45.570' AS DateTime), 3)
INSERT [dbo].[UserTaskPriorities] ([TaskID], [Priority], [CreatedAt], [UpdatedAt], [VacancyID]) VALUES (6, N'urgent', CAST(N'2025-09-23T11:38:29.193' AS DateTime), CAST(N'2025-09-23T11:38:29.193' AS DateTime), 4)
INSERT [dbo].[UserTaskPriorities] ([TaskID], [Priority], [CreatedAt], [UpdatedAt], [VacancyID]) VALUES (35, N'normal', CAST(N'2025-08-31T08:06:33.113' AS DateTime), CAST(N'2025-08-31T12:00:15.687' AS DateTime), 4)
GO
INSERT [dbo].[VacancyRanks] ([VacancyID], [RankID], [CreatedAt]) VALUES (1, 8, CAST(N'2026-02-02T20:49:51.843' AS DateTime))
INSERT [dbo].[VacancyRanks] ([VacancyID], [RankID], [CreatedAt]) VALUES (2, 9, CAST(N'2025-11-23T12:08:28.090' AS DateTime))
INSERT [dbo].[VacancyRanks] ([VacancyID], [RankID], [CreatedAt]) VALUES (3, 11, CAST(N'2025-11-23T12:07:41.490' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Assignments_User_Current]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_User_Current] ON [dbo].[Assignments]
(
	[UserID] ASC,
	[IsCurrent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Assignments_User_Vacancy]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_User_Vacancy] ON [dbo].[Assignments]
(
	[UserID] ASC,
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assignments_Vacancy]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_Vacancy] ON [dbo].[Assignments]
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Assignments_Vacancy_Current]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Assignments_Vacancy_Current] ON [dbo].[Assignments]
(
	[VacancyID] ASC,
	[IsCurrent] ASC
)
WHERE ([IsCurrent]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentNotifications_TaskID]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommentNotifications_TaskID] ON [dbo].[CommentNotifications]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_User_Vacancy]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_User_Vacancy] ON [dbo].[Comments]
(
	[CommentedByVacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__737584F6DD8EA846]    Script Date: 3/10/2026 10:35:04 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobVacancies_Department_Active]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobVacancies_Department_Active] ON [dbo].[JobVacancies]
(
	[DepartmentID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobVacancies_Rank]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobVacancies_Rank] ON [dbo].[JobVacancies]
(
	[Rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PersonalCalendarEvents_UserDate]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_PersonalCalendarEvents_UserDate] ON [dbo].[PersonalCalendarEvents]
(
	[UserID] ASC,
	[EventDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Registra__1788CCADED1A6AD0]    Script Date: 3/10/2026 10:35:04 AM ******/
ALTER TABLE [dbo].[RegistrationRequests] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignmentNotifications_TaskID]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignmentNotifications_TaskID] ON [dbo].[TaskAssignmentNotifications]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskDelegationPermissions_Delegation]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegationPermissions_Delegation] ON [dbo].[TaskDelegationPermissions]
(
	[DelegationID] ASC,
	[PermissionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskDelegations_ActivePeriod]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegations_ActivePeriod] ON [dbo].[TaskDelegations]
(
	[IsActive] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_CreatedBy_Vacancy]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_CreatedBy_Vacancy] ON [dbo].[Tasks]
(
	[CreatedByVacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTaskPriorities_Priority]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_Priority] ON [dbo].[UserTaskPriorities]
(
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTaskPriorities_TaskID]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_TaskID] ON [dbo].[UserTaskPriorities]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTaskPriorities_VacancyID]    Script Date: 3/10/2026 10:35:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_VacancyID] ON [dbo].[UserTaskPriorities]
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT ('new_comment') FOR [NotificationType]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MigrationsLog] ADD  CONSTRAINT [DF_MigrationsLog_ExecutedAt]  DEFAULT (getdate()) FOR [ExecutedAt]
GO
ALTER TABLE [dbo].[PersonalCalendarEvents] ADD  CONSTRAINT [DF_PersonalCalendarEvents_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PersonalEvents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Procedures] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[ProcedureSubtasks] ADD  DEFAULT ((0)) FOR [DueDateOffset]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Subtasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Subtasks] ADD  CONSTRAINT [DF_Subtasks_ShowInCalendar]  DEFAULT ((0)) FOR [ShowInCalendar]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TaskDelegationPermissions] ADD  DEFAULT ((0)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT ('limited') FOR [DelegationType]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('open') FOR [Status]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TaskViews] ADD  DEFAULT (getdate()) FOR [LastViewedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VacancySecrets] ADD  CONSTRAINT [DF_VacancySecrets_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_User]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Vacancy] FOREIGN KEY([VacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Vacancy]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_CreatedBy_JobVacancies] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[CategoryInformation]  WITH CHECK ADD  CONSTRAINT [FK_CategoryInformation_CreatedBy_JobVacancies] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[CategoryInformation] CHECK CONSTRAINT [FK_CategoryInformation_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_CommentNotifications_CommentedBy_JobVacancies] FOREIGN KEY([CommentedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[CommentNotifications] CHECK CONSTRAINT [FK_CommentNotifications_CommentedBy_JobVacancies]
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_CommentNotifications_NotifyUser_JobVacancies] FOREIGN KEY([NotifyVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[CommentNotifications] CHECK CONSTRAINT [FK_CommentNotifications_NotifyUser_JobVacancies]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_ActedBy_JobVacancies] FOREIGN KEY([LastActedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_ActedBy_JobVacancies]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_CommentedByVacancy] FOREIGN KEY([CommentedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_CommentedByVacancy]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Task]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User_Vacancy] FOREIGN KEY([CommentedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User_Vacancy]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Parent] FOREIGN KEY([ParentDepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Parent]
GO
ALTER TABLE [dbo].[JobVacancies]  WITH CHECK ADD  CONSTRAINT [FK_JobVacancies_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[JobVacancies] CHECK CONSTRAINT [FK_JobVacancies_Department]
GO
ALTER TABLE [dbo].[PersonalCalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_PersonalCalendarEvents_UserID_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PersonalCalendarEvents] CHECK CONSTRAINT [FK_PersonalCalendarEvents_UserID_Users]
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD  CONSTRAINT [FK_Procedures_CreatedBy_JobVacancies] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Procedures] CHECK CONSTRAINT [FK_Procedures_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[ProcedureSubtasks]  WITH CHECK ADD  CONSTRAINT [FK_ProcedureSubtasks_AssignmentID_Assignments] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignments] ([AssignmentID])
GO
ALTER TABLE [dbo].[ProcedureSubtasks] CHECK CONSTRAINT [FK_ProcedureSubtasks_AssignmentID_Assignments]
GO
ALTER TABLE [dbo].[ProcedureSubtasks]  WITH CHECK ADD  CONSTRAINT [FK_ProcedureSubtasks_VacancyID_JobVacancies] FOREIGN KEY([VacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[ProcedureSubtasks] CHECK CONSTRAINT [FK_ProcedureSubtasks_VacancyID_JobVacancies]
GO
ALTER TABLE [dbo].[RegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationRequests_Vacancy] FOREIGN KEY([VacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[RegistrationRequests] CHECK CONSTRAINT [FK_RegistrationRequests_Vacancy]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_ActedBy_JobVacancies] FOREIGN KEY([LastActedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_ActedBy_JobVacancies]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_AssignedTo_Vacancy] FOREIGN KEY([AssignedToVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_AssignedTo_Vacancy]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_AssignedToVacancy] FOREIGN KEY([AssignedToVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_AssignedToVacancy]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_CreatedBy_JobVacancies] FOREIGN KEY([CreatedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_CreatedByVacancy] FOREIGN KEY([CreatedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_CreatedByVacancy]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [FK_Subtasks_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [FK_Subtasks_Task]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssign_By_Vac] FOREIGN KEY([AssignedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] CHECK CONSTRAINT [FK_TaskAssign_By_Vac]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssign_To_Vac] FOREIGN KEY([AssignedToVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] CHECK CONSTRAINT [FK_TaskAssign_To_Vac]
GO
ALTER TABLE [dbo].[TaskDelegations]  WITH CHECK ADD  CONSTRAINT [FK_TaskDelegations_CreatedBy_JobVacancies] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskDelegations] CHECK CONSTRAINT [FK_TaskDelegations_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[TaskDelegations]  WITH CHECK ADD  CONSTRAINT [FK_TaskDelegations_Delegate_JobVacancies] FOREIGN KEY([DelegateVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskDelegations] CHECK CONSTRAINT [FK_TaskDelegations_Delegate_JobVacancies]
GO
ALTER TABLE [dbo].[TaskDelegations]  WITH CHECK ADD  CONSTRAINT [FK_TaskDelegations_Delegator_JobVacancies] FOREIGN KEY([DelegatorVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskDelegations] CHECK CONSTRAINT [FK_TaskDelegations_Delegator_JobVacancies]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_ActedBy_Vacancy] FOREIGN KEY([LastActedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_ActedBy_Vacancy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_CreatedBy_Vacancy] FOREIGN KEY([CreatedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_CreatedBy_Vacancy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_CreatedByVacancy] FOREIGN KEY([CreatedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_CreatedByVacancy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Department]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_LastActedByVacancy] FOREIGN KEY([LastActedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_LastActedByVacancy]
GO
ALTER TABLE [dbo].[TaskViews]  WITH CHECK ADD  CONSTRAINT [FK_TaskViews_UserID_JobVacancies] FOREIGN KEY([ViewedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[TaskViews] CHECK CONSTRAINT [FK_TaskViews_UserID_JobVacancies]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_CreatedBy_JobVacancies] FOREIGN KEY([CreatedByVacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_CreatedBy_JobVacancies]
GO
ALTER TABLE [dbo].[UserRanks]  WITH CHECK ADD  CONSTRAINT [FK_UserRanks_UserID_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRanks] CHECK CONSTRAINT [FK_UserRanks_UserID_Users]
GO
ALTER TABLE [dbo].[UserTaskPriorities]  WITH NOCHECK ADD  CONSTRAINT [FK_UserTaskPriorities_UserID_Vacancy] FOREIGN KEY([VacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[UserTaskPriorities] CHECK CONSTRAINT [FK_UserTaskPriorities_UserID_Vacancy]
GO
ALTER TABLE [dbo].[VacancySecrets]  WITH CHECK ADD  CONSTRAINT [FK_VacancySecrets_Vacancy] FOREIGN KEY([VacancyID])
REFERENCES [dbo].[JobVacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[VacancySecrets] CHECK CONSTRAINT [FK_VacancySecrets_Vacancy]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [CK_Assignments_Current_EndDate] CHECK  (([IsCurrent]=(1) AND [EndDate] IS NULL OR [IsCurrent]=(0)))
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [CK_Assignments_Current_EndDate]
GO
USE [master]
GO
